<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032780395632-ikuhbndngckh1qa3tnvsfi2q7p8lshvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032780395632-ikuhbndngckh1qa3tnvsfi2q7p8lshvg</string>
	<key>API_KEY</key>
	<string>AIzaSyBfjSL37JHzxE-f73AqZhDno6LkIRtdU-E</string>
	<key>GCM_SENDER_ID</key>
	<string>1032780395632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFcmNotificationSpeak</string>
	<key>PROJECT_ID</key>
	<string>fir-cdc2d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cdc2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032780395632:ios:f9231e12b7d7fe8b53f0b5</string>
</dict>
</plist>